---
import Layout from '../layouts/Layout.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import Code from '../components/icons/Code.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import Navbar from '../components/Navbar.astro';
import Header from "../components/Header.astro";
import BitsAndBytes from "../components/animations/BitsAndBytes.astro";
---

<Layout title="felipe@arteaga">
	<main>
		<SectionContainer id="top" class="relative pt-[170px]">
			<div class="absolute top-0 left-0 custom-shape-divider-top-1707093623">
				<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
					<path d="M1200 0L0 0 598.97 114.72 1200 0z" class="fill-gray-900 blur-sm"></path>
				</svg>
			</div>
			<BitsAndBytes class="absolute top-[230px] left-[300px] opacity-50"/>
			<Header class="">
				<Navbar slot="Navbar" />
			</Header>
		</SectionContainer>
		<SectionContainer id="projects" class="pt-10 mx-auto bg-section-projects">
			<h1 class="text-2xl justify-center font-bold mb-10 flex gap-x-3 items-center">
				<Code class="w-5 h-5"/>
				Proyectos
			</h1>
			<Projects/>
		</SectionContainer>
		<SectionContainer id="experience">
			<h1 class="text-2xl font-bold mb-10 flex gap-x-3 items-center mt-0">
				<BriefCase class="w-5 h-5"/>
				Experiencia laboral
			</h1>
			<Experience/>
		</SectionContainer>
	</main>
</Layout>

<style>

	.bg-section-projects {
		background: rgb(12,13,182);
		background: radial-gradient(circle, rgba(12,13,18,1) 0%, rgba(33,35,49,1) 100%);
	}
	.custom-shape-divider-top-1707093623 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707093623 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 195px;
}

.custom-shape-divider-top-1707093623 .shape-fill {
    fill: #FFFFFF;
}
	
</style>
