<a 
    href={Astro.props.href} 
    class="
        flex justify-center
        rounded-full 
        items-center 
        gap-x-2 py-2 px-3 
        cursor-pointer
        bg-gray-950/60
        hover:scale-110
        hover:bg-gray-950/80
        transition
    "    target="_blank"
    rel="noopener noreferrer"
>
    <slot/>
</a>