<a 
    class="
        flex justify-center
        rounded-full 
        items-center 
        gap-x-1 py-1 px-2 
        cursor-default
        border-[1px] border-white
        transition
    "    target="_blank"
    rel="noopener noreferrer"
>
    <slot/>
</a>